.app-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.error-form-text {
	font-size: 0.9rem;
	color: darkgray;
}

.credits-p {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
}
